*{
    border-sizing: border-box;
}
#img-img4{
    height: 120px;
    width: 120px;
}
#img-img4{
    padding: 4px;
    transition: transform .2s;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    opacity: 0.6;
  }
  #img-img4:hover{
    -webkit-transform: scale(0.1); 
    transform: scale(0.9);
    opacity: 1; 
    transition: 0.3s;
  }
  @media screen and (max-width: 600px) {
    .img-img4{
     height:100%;
     width:100%
       
    }
  }